<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.BabyInfMapper">
    <select id="selectClassInfo" resultType="com.cykj.va.ClassInfo">
        SELECT t1.*, t2.uname
        FROM t_babyinf t1
                 INNER JOIN t_user t2 ON t1.uid = t2.uid
        WHERE t1.clid = #{classId}

    </select>
    <select id="fuzzySelectClassInfo" resultType="com.cykj.va.ClassInfo">
        SELECT t1.*, t2.uname
        FROM t_babyinf t1
        INNER JOIN t_user t2 ON t1.uid = t2.uid
        WHERE 1=1
        <if test="classId != null and classId != ''">
            and t1.clid = #{classId}
        </if>
        <if test="aTime1 != null and aTime1 != ''">
            and t1.biadtime <![CDATA[>=]]>#{aTime1}
        </if>
        <if test="aTime2 != null and aTime2 != ''">
            and t1.biadtime <![CDATA[<=]]>#{aTime2}
        </if>
    </select>
    <select id="selectBabyInfo" resultType="com.cykj.bean.BabyInf">
        SELECT *
        FROM t_babyinf
        WHERE biid = #{id}
    </select>
</mapper>
