<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.ClassManagementMapper">
    <select id="selectAllClass" resultType="com.cykj.bean.ClassManagement">
        SELECT t_classmanagement.classId, t_classmanagement.className
        FROM t_classmanagement
        WHERE t_classmanagement.teacher = #{id}
    </select>
</mapper>
