<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.ClassMessageMapper">
    <select id="selectAll" resultType="com.cykj.bean.ClassMessage">
        SELECT *
        FROM t_classmessage
        WHERE t_classmessage.classId = #{classId}
        ORDER BY t_classmessage.messageTime DESC;
    </select>
    <insert id="insertClassMessage">
        INSERT INTO t_classmessage(classId, message, messageTime)
        VALUES (#{classId},#{message},#{messageTime})
    </insert>
</mapper>
