<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.ClassManagementMapper">
    <select id="selectAllClass" resultType="com.cykj.bean.ClassManagement">
        SELECT t1.classId, t1.className
        FROM t_classmanagement t1
                 INNER JOIN t_user t2 ON t1.teacher = t2.uid
        WHERE t2.uaccount = #{acc};
    </select>
    <select id="getClassName" resultType="String">
        SELECT className
        FROM t_classmanagement
        WHERE t_classmanagement.classId = #{classId}
    </select>
</mapper>
