<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.CurriculumMapper">
    <select id="selectCurrAll" resultType="com.cykj.bean.Curriculum">
        SELECT t1.*
        FROM t_curriculum t1
                 INNER JOIN t_classmanagement t2 ON t1.classId = t2.classId
        WHERE t1.classId = #{classId}
          AND t1.currDate LIKE concat('%', #{date}, '%');
    </select>
</mapper>
