<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.HealthMapper">
    <!--execl表格解析数据存入exampaper表-->
    <!--  id 方法名  resultType返回类型 -->

    <select id="selectHealth" parameterType="com.cykj.bean.Healthbean" resultType="com.cykj.bean.Healthbean">
        SELECT * FROM t_babyhealth LIMIT #{page},#{pages}
    </select>


</mapper>
