<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.HealthMapper">
    <!--execl表格解析数据存入exampaper表-->
    <!--  id 方法名  resultType返回类型 -->

    <select id="selectHealth" parameterType="com.cykj.bean.Healthbean" resultType="com.cykj.bean.Healthbean">
        SELECT * from t_user,t_babyhealth where t_user.ures1 = t_babyhealth.babyid and t_user.uaccount = #{uaccount} LIMIT #{page},#{pages}
    </select>

    <!--小程序根据手机查询宝宝体检数据-->
    <select id="selHeaUphone" parameterType="com.cykj.bean.Healthbean" resultType="com.cykj.bean.Healthbean">
        SELECT * from t_user,t_babyhealth where t_user.ures1 = t_babyhealth.babyid and t_user.uphone = #{uphone} LIMIT #{page},#{pages}
    </select>

    <!--小程序根据手机查询宝宝课程表数据-->
    <select id="selCurrAndUser" parameterType="com.cykj.va.CurrAndUser" resultType="com.cykj.va.CurrAndUser">
        SELECT * from t_user,t_curriculum where t_user.uphone = #{uphone} LIMIT #{page},#{pages}
    </select>

    <!--小程序查询宝宝膳食数据-->
    <select id="selBabyFood" parameterType="com.cykj.bean.BabyFood" resultType="com.cykj.bean.BabyFood">
        SELECT * from t_user,t_babyfood  LIMIT #{page},#{pages}
    </select>


    <!--小程序亲子作业-->
    <select id="selChildHomeWork" resultType="com.cykj.va.ChildHomeWork">
        SELECT DISTINCT t3.*, t4.babyId FROM t_user t1
        LEFT JOIN t_babyinf t2 ON t1.ures1 = t2.biid
        LEFT JOIN t_publishhomework t3 ON t3.classId = t2.doid
        LEFT JOIN t_checkhomework t4 ON t4.babyId = t2.biid
        WHERE t1.uphone = #{uphone} LIMIT #{page},#{pages}
    </select>

    <!--小程序往期作业-->
    <select id="selOldHomeWork" resultType="com.cykj.va.ChildHomeWork">
        SELECT t2.biname,t1.workName, t4.homeworkURL, t4.arrangementTime, t1.homeworkURL tjurl, t5.pname, t1.classId, t1.phId, t1.babyId, t1.evaluation
        FROM t_checkhomework t1
        INNER JOIN t_babyinf t2 ON t1.babyId = t2.biid
        INNER JOIN t_user t3 ON t2.uid = t3.uid
        INNER JOIN t_publishhomework t4 ON t1.phId = t4.phId
        INNER JOIN t_param t5 ON t5.pid = t1.`completion`
        WHERE t3.uphone = #{uphone} LIMIT #{page},#{pages}
     </select>


    <!--提交作业至查看作业表-->
    <insert id="insertHomeWork" parameterType="com.cykj.bean.CheckHomework">
        INSERT INTO t_checkhomework(classId, phId,babyId,completionTime,completion,homeworkURL,workName)
        VALUES (#{classId}, #{phId}, #{babyId}, #{completionTime}, 9,#{homeworkURL},#{workName})
    </insert>

    <!--安全教育答题存成绩于数据库-->
    <insert id="insertAnswer" parameterType="com.cykj.bean.Security">
        UPDATE t_security set secScore = #{secScore} WHERE videoId = #{videoId}
    </insert>

    <!--查看绘本信息-->
    <select id="selHuiben" resultType="com.cykj.bean.FamilyRead">
        select * from t_familyread LIMIT #{page},#{pages}
    </select>

    <!--查看校园公告信息-->
    <select id="selannouncement" resultType="com.cykj.bean.Announcement">
        select * from t_announcement LIMIT #{page},#{pages}
    </select>

    <!--查看安全教育视频-->
    <select id="selVideo" resultType="com.cykj.bean.SafetyEducation">
        SELECT t_safetyeducation.videoId, t_safetyeducation.videoName, t_safetyeducation.fileSite, t_security.secScore FROM t_safetyeducation LEFT JOIN t_security ON t_safetyeducation.videoId = t_security.videoId LIMIT #{page},#{pages}
    </select>

    <update id="changeFood" parameterType="com.cykj.bean.BabyFood">
        update t_babyfood set ${reserve2} = #{reserve3} where fid = ${fid}
    </update>

    <!--查询宝宝考勤信息-->
    <select id="selectBabyAtten" resultType="com.cykj.va.AttenAndUser">
       SELECT * from t_user,t_babyatten where t_user.uphone = #{uphone} LIMIT #{page},#{pages}
    </select>

    <!--    SELECT t_classmanagement.*, t_user.uname uname FROM t_classmanagement,t_user WHERE t_classmanagement.teacher = t_user.uid LIMIT  #{page},#{pages}-->
    <!--多条件查询园长端班级管理信息-->
    <select id="ClassInforAll" parameterType="com.cykj.bean.ClassManagement" resultType="com.cykj.bean.ClassManagement">
        SELECT t_classmanagement.*, t_user.uname uname FROM t_classmanagement,t_user
        WHERE
        1 = 1
        <if test="left != null and left !=''">
            AND t_classmanagement.creationTime <![CDATA[>=]]> #{left}
        </if>
        <if test="right != null and right !=''">
            AND t_classmanagement.creationTime <![CDATA[<=]]> #{right}
        </if>
        <if test="className != null and className !=''">
            AND t_classmanagement.className = #{className}
        </if>
        AND t_classmanagement.teacher = t_user.uid LIMIT #{page},#{pages}
    </select>

    <!--查询园长端班级总数-->
    <select id="ClaInforCount" parameterType="int" resultType="Integer">
        select count(*) from t_classmanagement
    </select>

    <!--查询园长端班级教室-->
    <select id="selclassManage" parameterType="com.cykj.bean.ClassManagement"
            resultType="com.cykj.bean.ClassManagement">
        SELECT t_classroom.classroomName classRoom,t_classroom.backUp1 className FROM t_classroom
    </select>

    <!--查询园长端班主任-->
    <select id="selTeacher" parameterType="com.cykj.bean.ClassManagement"
            resultType="com.cykj.bean.ClassManagement">
        SELECT uname,uid teacher FROM t_user where urid = '2'
    </select>

    <!--修改园长端班级-->
    <update id="updclaManage">
        update t_classmanagement set t_classmanagement.className = #{className},t_classmanagement.teacher = #{teacher},t_classmanagement.classRoom = #{classRoom} where t_classmanagement.classId = #{classId}
    </update>

    <!--新增园长端班级-->
    <insert id="insertClaManage" parameterType="com.cykj.bean.ClassManagement">
        INSERT INTO t_classmanagement(className, teacher,classRoom,creationTime)
        VALUES (#{className}, #{teacher}, #{classRoom}, #{creationTime})
    </insert>

    <!--删除园长端班级-->
    <delete id="delClaManage">
        DELETE from t_classmanagement where t_classmanagement.classId = #{classId}
    </delete>

</mapper>
