<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.LoginMapper">
    <!--execl表格解析数据存入exampaper表-->
    <!--  id 方法名  resultType返回类型 -->

    <select id="checkLogin" parameterType="com.cykj.bean.User" resultType="com.cykj.bean.User">
        SELECT *
        FROM t_user
        WHERE t_user.uaccount = #{uaccount}
          and t_user.upwd = #{upwd}
    </select>


    <select id="menuAll" parameterType="com.cykj.bean.Menu" resultType="com.cykj.bean.Menu">
        SELECT *
        from t_menu,
             t_power,
             t_user
        WHERE t_menu.mepid = t_power.pid
          and t_power.mid = t_user.urid
          and t_user.uaccount = #{account}
    </select>

    <!--小程序登录-->
    <select id="xcxLogin" parameterType="com.cykj.bean.User" resultType="com.cykj.bean.User">
        SELECT *
        FROM t_user
        WHERE t_user.uphone = #{uphone}
          and t_user.upwd = #{upwd}
    </select>

    <!--小程序修改密码-->
    <update id="updatePwd" parameterType="com.cykj.bean.User">
        update t_user set t_user.upwd = #{upwd} where t_user.uphone = #{uphone}
    </update>


    <!--查询账号是否存在-->
    <select id="existUacc" parameterType="com.cykj.bean.User" resultType="com.cykj.bean.User">
        SELECT * FROM t_user WHERE uaccount = #{uaccount}
    </select>


    <!--PC端修改密码-->
    <update id="updPcPwd" parameterType="com.cykj.bean.User">
        update t_user set t_user.upwd = #{upwd} where t_user.uaccount = #{uaccount}
    </update>

</mapper>
