<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.P_HMapper">
    <insert id="insertAll">
        INSERT INTO t_publishhomework(classId, teacherId, homeworkContent, arrangementTime, homeworkURL)
        VALUES (#{classId}, #{teacherId}, #{homeworkContent}, #{arrangementTime}, #{homeworkURL});
    </insert>
    <select id="selectClassPH" resultType="com.cykj.va.P_H">
        SELECT t1.phId, t1.homeworkContent, t2.uname, t1.arrangementTime, t3.className
        FROM t_publishhomework t1
                 INNER JOIN t_user t2 ON t1.teacherId = t2.uid
                 INNER JOIN t_classmanagement t3 ON t1.classId = t3.classId
        WHERE t1.classId = #{classId}
        ORDER BY t1.arrangementTime DESC;
    </select>
</mapper>
