<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.PickMapper">
    <!--execl表格解析数据存入exampaper表-->
    <!--  id 方法名  resultType返回类型 -->

    <select id="GetPick" resultType="com.cykj.bean.pick">
        SELECT
            t2.biid,
            t2.time,
            t2.uname,
            t2.UID uid,
            t2.pname state,
            t_babyinf.biname bname,
            t_babyinf.bisex sex
        FROM
            (
            SELECT
                t1.pid,
                t1.uid,
                t1.biid,
                t1.time,
                t1.uname,
                param.pname
            FROM
                (
                SELECT
                    pick.PID,
                    pick.UID,
                    pick.biid,
                    pick.time,
                    pick.SID,
                    buser.uname
                FROM
                    t_pick pick
                    INNER JOIN t_user buser ON pick.UID = buser.uid
                WHERE
                    pick.biid = #{BID}
                ) t1
                INNER JOIN t_param param ON t1.SID = param.pzid
            ) t2
        INNER JOIN t_babyinf ON t2.biid = t_babyinf.biid
    </select>
    <select id="GetBaby" resultType="com.cykj.bean.Baby">
        SELECT
            t1.biid bid,
            t1.biname bname,
            t1.biytd,
            t1.biresidence,
            t1.bisex,
            t1.className,
            users.uname
        FROM
            (
            SELECT
                babyu.biid,
                babyu.biname,
                babyu.biytd,
                babyu.biresidence,
                babyu.bisex,
                class.className,
                class.teacher
            FROM
                t_babyinf babyu
                INNER JOIN t_classmanagement class ON babyu.clid = class.classId
            WHERE
                1 = 1
                <if test="CID != null and CID !=''">
                    AND class.classId = #{CID}
                </if>
                <if test="Bname != null and Bname !=''">
                    AND babyu.biname LIKE "%"#{Bname}"%"
                </if>
            ) t1
        INNER JOIN t_user users ON users.uid = t1.teacher
    </select>
</mapper>
