<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.SafetyEducationVideoMapper">
    <!--execl表格解析数据存入exampaper表-->
    <!--  id 方法名  resultType返回类型 -->

    <select id="selectAll" parameterType="com.cykj.bean.SafetyEducation" resultType="com.cykj.bean.SafetyEducation">
        SELECT * from t_safetyeducation LIMIT #{page},#{pages}
    </select>

    <insert id="inseVideo">
        INSERT INTO t_safetyeducation VALUES(null,#{videoName},NULL,NULL,NULL,NULL,NULL,#{releaseTime},#{fileName},#{fileSite},NULL,NULL,NULL,NULL)
    </insert>

    <delete id="delectVideo">
            DELETE from t_safetyeducation where t_safetyeducation.videoId = #{videoId}
    </delete>

    <update id="updateVideo" parameterType="com.cykj.bean.SafetyEducation">
        update t_safetyeducation set t_safetyeducation.videoName = #{videoName},t_safetyeducation.releaseTime = #{releaseTime}
        ,t_safetyeducation.fileName = #{fileName} where t_safetyeducation.videoId = #{videoId}
    </update>

    <update id="updateQuestions">
update t_safetyeducation set t_safetyeducation.textUrl = #{textUrl}  where  t_safetyeducation.videoId = #{videoId}

    </update>

    <select id="selectRead" parameterType="com.cykj.bean.FamilyRead" resultType="com.cykj.bean.FamilyRead">
        select * from t_familyread
        WHERE
        1 = 1
        <if test="left != null and left !=''">
            AND  UploadTime <![CDATA[>=]]> #{left}
        </if>
        <if test="right != null and right !=''">
            AND  UploadTime <![CDATA[<=]]> #{right}
        </if>
        <if test="bookname != null and bookname !=''">
            AND bookname = #{bookname}
        </if>

         LIMIT #{page},#{pages}
    </select>

    <select id="selectTerraceInf" parameterType="com.cykj.bean.TerraceInformationBean" resultType="com.cykj.bean.TerraceInformationBean">
     select * from t_terrace
     WHERE
                1 = 1
        <if test="left != null and left !=''">
            AND  reserve1 <![CDATA[>=]]> #{left}
        </if>
        <if test="right != null and right !=''">
            AND  reserve1 <![CDATA[<=]]> #{right}
        </if>
        <if test="iftcontent != null and iftcontent !=''">
            AND iftcontent = #{iftcontent}
        </if>
     LIMIT #{page},#{pages}
    </select>

    <insert id="insTerraceInf">
        INSERT INTO t_terrace(iftcontent,Createtime,reserve1,reserve2,reserve3) VALUES(#{iftcontent},#{Createtime},#{reserve1},"14",#{reserve3});
    </insert>


    <update id="updateTerraceInf">
        UPDATE t_terrace SET t_terrace.iftcontent = #{iftcontent},t_terrace.Createtime = #{Createtime},t_terrace.reserve1=#{reserve1} WHERE t_terrace.ttid = #{ttid}
    </update>

    <delete id="delectTerraceInf">
   DELETE FROM t_terrace WHERE t_terrace.ttid = #{ttid}
    </delete>

    <update id="updatereserve2">
        UPDATE t_terrace SET t_terrace.reserve2 = "15" where t_terrace.ttid = #{ttid}
    </update>

    <select id="selectType" parameterType="com.cykj.bean.TerraceInformationBean" resultType="com.cykj.bean.TerraceInformationBean">
select * from t_terrace where t_terrace.reserve3 = #{reserve3}
    </select>

    <select id="selectParentsVideo"  parameterType="com.cykj.bean.SafetyEducation" resultType="com.cykj.bean.SafetyEducation">
    SELECT t_safetyeducation.startTime,t_safetyeducation.endTime,t_safetyeducation.videoId,t_safetyeducation.videoName,
t_safetyeducation.releaseTime, t_security.secScore,t_param.pname,t_safetyeducation.fileSite
 FROM t_safetyeducation LEFT JOIN t_security on t_safetyeducation.videoId = t_security.videoId LEFT JOIN t_param ON  t_security.completeId = t_param.pid
LEFT JOIN t_user ON t_user.uaccount = t_security.baId LIMIT #{page},#{pages}
    </select>


    <insert id="inseRead">
    INSERT INTO t_familyread VALUES(NULL,NULL,#{bookname},#{Folderaddress},#{UploadTime},#{reserve1},#{reserve2},#{reserve3});
    </insert>


    <update id="updateRead">
        UPDATE t_familyread SET bookname = #{bookname},Folderaddress = #{Folderaddress},UploadTime = #{UploadTime},reserve1 = #{reserve1},reserve2 = #{reserve2} WHERE frid = #{frid}
    </update>

    <delete id="delectBook">
DELETE from t_familyread  WHERE frid = #{frid}
    </delete>


    <select id="seleleBaby"  parameterType="com.cykj.bean.BabyInf" resultType="com.cykj.bean.BabyInf">
            select * from t_babyinf
    </select>

    <select id="selectMan"  parameterType="com.cykj.bean.BabyInf" resultType="com.cykj.bean.BabyInf">
  SELECT count(*)bisex from t_babyinf where t_babyinf.bisex = '男'
    </select>

    <select id="selectWoman"  parameterType="com.cykj.bean.BabyInf" resultType="com.cykj.bean.BabyInf">
  SELECT count(*)bisex from t_babyinf where t_babyinf.bisex = '女'
    </select>



    <select id="selecthealthCondition"  parameterType="com.cykj.bean.Healthbean" resultType="com.cykj.bean.Healthbean">
  SELECT * from t_babyinf LEFT JOIN t_babyhealth on t_babyinf.biid = t_babyhealth.babyid
    </select>



    <select id="selectMenu" parameterType="com.cykj.bean.Menu" resultType="com.cykj.bean.Menu">
        SELECT t1.*,t2.mename menames from t_menu t1,t_menu t2
        WHERE
                1 = 1
        <if test="onename != null and onename !=''">
            AND  t2.mename <![CDATA[=]]> #{onename}
        </if>
        <if test="mename != null and mename !=''">
            AND  t1.mename <![CDATA[=]]> #{mename}
        </if>
         and t1.meid = t2.mepid  LIMIT #{page},#{pages}
    </select>


    <select id="selectOne" parameterType="com.cykj.bean.Menu" resultType="com.cykj.bean.Menu">
       SELECT * from t_menu where t_menu.meid = '0'
    </select>


    <update id="updateMenu">
        update t_menu set t_menu.mename = #{mename},meurl = #{menurl} where mepid = #{mepid}
    </update>


    <select id="selectSchool" parameterType="com.cykj.bean.SchoolMessage" resultType="com.cykj.bean.SchoolMessage">
        select * from t_schoolmessage where type = '通过审批'
        <if test="left != null and left !=''">
            AND  EnrolmentTime <![CDATA[>=]]> #{left}
        </if>
        <if test="right != null and right !=''">
            AND  EnrolmentTime <![CDATA[<=]]> #{right}
        </if>
        <if test="schoolName != null and schoolName !=''">
            AND schoolName = #{schoolName}
        </if>

        LIMIT #{page},#{pages}
    </select>

    <select id="selectMenuLeft" parameterType="com.cykj.bean.Menu" resultType="com.cykj.bean.Menu">
        SELECT t_menu.* from t_menu where t_menu.mepid IN
    (SELECT t_menu.mepid  FROM t_menu,t_power where t_power.pid = t_menu.mepid AND t_power.mid = #{meid})
 OR t_menu.meid = '0'
    </select>


    <select id="selectMenuRight" parameterType="com.cykj.bean.Menu" resultType="com.cykj.bean.Menu">
        SELECT t_menu.* from t_menu where t_menu.mepid not IN
    (SELECT t_menu.mepid  FROM t_menu,t_power where t_power.pid = t_menu.mepid AND t_power.mid = #{meid})
 OR t_menu.meid = '0'
    </select>



    <select id="isidexit" parameterType="java.lang.String" resultType="com.cykj.bean.Menu">
        SELECT * FROM t_power WHERE
        <if test="mid != null and mid != ''">
            mid = #{mid}
        </if>
        <if test="pid != null and pid != ''">
            AND pid = #{pid}
        </if>
    </select>

    <insert id="insertPower" parameterType="com.cykj.bean.Menu">
        INSERT INTO t_power(mid, pid) VALUES(#{mid}, #{pid})
    </insert>

    <!--删除权限-->
    <delete id="delPower" parameterType="com.cykj.bean.Menu">
        DELETE FROM t_power WHERE mid = #{mid} AND pid = #{pid}
    </delete>


<!--    禁用园所-->
    <update id="forbidden">
          UPDATE t_schoolmessage set t_schoolmessage.starta = #{starta}  where t_schoolmessage.ID = #{ID}
    </update>


    <!--    重置密码-->
    <update id="resetpwd">
          UPDATE t_schoolmessage set t_schoolmessage.spwd = '123456'  where t_schoolmessage.ID = #{ID}
    </update>

<!--    删除园所-->
    <delete id="delectID">
            DELETE from t_schoolmessage where t_schoolmessage.ID = #{ID}
    </delete>


    <!--    修改园所-->
    <update id="updateID">
          UPDATE t_schoolmessage set t_schoolmessage.schoolName = #{schoolname},t_schoolmessage.saccount = #{schoolacc}  where t_schoolmessage.ID = #{ID}
    </update>
</mapper>
