<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.SafetyEducationMapper">
    <select id="selectSafEduAll" resultType="com.cykj.bean.SafetyEducation">
        SELECT *
        FROM t_safetyeducation
        ORDER BY t_safetyeducation.startTime DESC;
    </select>

    <update id="updateTime">
        UPDATE t_safetyeducation t1
        SET t1.startTime=#{startTime},
            t1.endTime=#{endTime}
        WHERE t1.videoId = #{videoId};
    </update>
</mapper>
