<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.cykj.mapper.SchoolMessageMapper">
    <insert id="upDateSchoolMessage" parameterType="com.cykj.bean.SchoolMessage" >
        insert  into t_schoolMessage(schoolName,legalPerson,legalPersonId,address,
                                     TLE,schoolPermit,hygienicLicense,firePermit,organizationPermit,TaxPermit,applicationDeadline,type)
                                      value (#{schoolName},#{legalPerson},#{legalPersonId},#{address},
            #{TLE},#{schoolPermit},#{hygienicLicense},#{firePermit},#{organizationPermit},#{TaxPermit},#{applicationDeadline},#{type})
    </insert>

    <insert id="upDateTeacher" parameterType="com.cykj.bean.User">
        insert into t_user(uname,uaccount,urid,ustate,upwd,uwork) value (#{uname},#{uaccount},#{urid},#{ustate},#{upwd},#{uwork})
    </insert>


    <select id="checkTeacherAcc" parameterType="com.cykj.bean.User" resultType="int">
        select * from t_user where uaccount =#{uaccount}
    </select>

    <select id="selectTeacher" resultType="com.cykj.bean.User" >
        select * from t_user where urid = ${2} or urid = ${4} or urid = ${5}
    </select>

    <update id="changeTeacher" parameterType="com.cykj.bean.User">
        update t_user set urid = ${urid},uname = #{uname},uwork = #{uwork} where uid = ${uid}
    </update>

    <delete id="deleteTeacher" parameterType="int">
        DELETE FROM t_user WHERE uid = ${id}
    </delete>

    <select id="select" resultType="com.cykj.bean.User" parameterType="String">
        select * from t_user where uname = #{_uname}
    </select>

    <select id="selectAllParents" resultType="com.cykj.bean.User">
        SELECT *
        FROM t_user right join t_babyinf
        ON t_user.ures1=t_babyinf.biid
    </select>

    <select id="selectAllBaby" resultType="com.cykj.bean.BabyInf">
        select * from t_babyinf
    </select>

    <select id="checkParents" parameterType="com.cykj.bean.User" resultType="com.cykj.bean.User">
        select * from t_user where uname = #{uname} and ures3  &gt; #{ures1} and ures3 &lt; #{ures2}
    </select>

    <update id="changeParents" parameterType="com.cykj.bean.User">
        update t_user
        set ures1 = ${ures1},uname = #{uname},uwork = #{uwork},uchildrelation = #{uchildrelation}
        where uid = ${uid}
    </update>

    <delete id="deleteParents" parameterType="int">
        delete from t_user where uid = ${id}
    </delete>

    <insert id="addParents" parameterType="com.cykj.bean.User">
        insert
        into t_user(uname,ures1,uchildrelation,uphone,uwork,ures3,urid,uaccount,upwd,ustate)
        value (#{uname},#{biname},#{uchildrelation},#{uphone},#{uwork},#{ures3},${1},#{uaccount},123456,8)
    </insert>

    <select id="checkParentsAcc" parameterType="String" resultType="com.cykj.bean.User">
        select * from t_user where uaccount=#{_acc}
    </select>

    <insert id="addBaby" parameterType="com.cykj.bean.BabyInf">
        insert
        into t_babyinf(biname,biytd,bisex,biadtime)
        value (#{biname},#{biytd},#{bisex},#{biadtime})
    </insert>

    <update id="changeBaby" parameterType="com.cykj.bean.BabyInf">
        update t_babyinf set biname = #{biname},bisex = #{bisex},biytd = #{biytd} where biid = ${biid}
    </update>

    <delete id="deleteBaby" parameterType="int">
        delete FROM t_babyinf where biid = ${id}
    </delete>

    <select id="checkAllClass" resultType="com.cykj.bean.ClassManagement">
        SELECT b.biid,b.biname,c.className,c.creationTime,u.uname
        FROM t_babyinf b
        LEFT JOIN t_classmanagement c
        on b.clid = c.classId
        LEFT JOIN t_user u
        on c.teacher = u.uid
    </select>

    <select id="selectAllClass" resultType="com.cykj.bean.ClassManagement">
        select * from t_classmanagement
    </select>

    <select id="selectAllTeacher" resultType="com.cykj.bean.User">
        select * from t_user where urid = ${2}
    </select>

    <update id="upDateBabyClass" parameterType="com.cykj.bean.BabyInf">
        update t_babyinf set clid = ${clid} where biid = ${biid}
    </update>

    <update id="upDateTeacherClass" parameterType="com.cykj.bean.ClassManagement">
        update t_classManagement set teacher = ${teacher} where classId = ${classId}
    </update>
</mapper>
